<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Monkey Data Fetcher</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <div class="container">
        <h1>Monkeys For Silvia 🐵</h1>
        <button id="fetchButton">Fetch Surveys</button>
        <div id="surveyMonkeyData">
            <div id="surveyResultsData">
                <table id="surveyTable">
                    <thead>
                      <tr>
                        <th>Title</th>
                        <th>Date Created</th>
                        <th>Analyze URL</th>
                        <th>Important Question</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- Data rows will go here -->
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    <script type="module" src="../app.js"></script>
</body>
</html>